libpsm2 (10.2.91) UNRELEASED; urgency=medium

  * Add Ubuntu support

 -- Tymoteusz Kielan <tymoteusz.kielan@intel.com>  Thu, 08 Dec 2016 11:49:12 +0100

hfi1-psm (0.7) UNRELEASED; urgency=medium

  * Initial release

 -- Brian T. Smith <bsmith@systemfabricworks.com>  Mon, 14 Mar 2016 12:26:35 -0500
