Source: libpsm2
Maintainer: Tymoteusz Kielan <tymoteusz.kielan@intel.com>
Section: libs
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), uuid-dev

Package: libpsm2
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Intel PSM2 library
 PSM2 is Intel's low-level user-space communications interface for
 the Intel(R) OPA family of products. PSM2 users are enabled with
 mechanisms necessary to implement higher level communications
 interfaces in parallel environments.

Package: libpsm2-dbg
Section: debug
Priority: extra
Architecture: linux-any
Depends: ${misc:Depends}, libpsm2 (= ${binary:Version})
Description: Debugging symbols for Intel PSM2 library
 PSM2 is Intel's low-level user-space communications interface for
 the Intel(R) OPA family of products. PSM2 users are enabled with
 mechanisms necessary to implement higher level communications
 interfaces in parallel environments. This package contains the
 debugging symbols for Intel PSM2 library.

Package: libpsm2-dev
Architecture: linux-any
Section: libdevel
Depends: ${misc:Depends}, libpsm2 (= ${binary:Version}), uuid-dev
Description: Development files for Intel PSM2 library
 PSM2 is Intel's low-level user-space communications interface for
 the Intel(R) OPA family of products. PSM2 users are enabled with
 mechanisms necessary to implement higher level communications
 interfaces in parallel environments. This package contains the
 development headers for Intel PSM2 library.

Package: libpsm2-compat
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}, libpsm2 (= ${binary:Version})
Description: Compat library for Intel PSM2
 PSM compatibility API is Intel's low-level user-space communications
 interface for the Intel(R) TrueScale family of products. This library
 adds support for MPIs linked with PSM versions < 2.
