#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

# Specify the library installation directory
export LIBDIR=/usr/lib

%:
	dh $@ --parallel

override_dh_installdocs:
	dh_installdocs --link-doc=libpsm2
